.mt-15 {
  margin-top: 15px;
}

.flash-message-success {
  margin-top: 15px;
  color: #2200b9;
  font-weight: bold;
  text-align: center;
}

.flash-message-danger {
  margin-top: 15px;
  color: red;
  font-weight: bold;
  text-align: center;
}