.mt-15 {
  margin-top: 15px;
}

.flash-message-success {
  color: green;
  font-weight: bold;
  text-align: center;
}

.flash-message-danger {
  color: red;
  font-weight: bold;
  text-align: center;
}